* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 350px;
    margin: 10px auto;
    padding: 10px;
}

h1 {
    text-align: center;
}

button {
    padding: 5px 10px;
    width: 30%;
    border: 0;
    border-radius: 5px;
    background-color: aqua;
}

.setCounter {
    display: flex;
    gap: 10px;
}

.setCounter button {
    align-self: center;
    width: 30%
}

input {
    padding: 5px;
    width: 30%;
    border: 1px solid aqua; 
    border-radius: 5px;
    margin: 20px 0;
}